<div class="jumbotron-container">
  <div class="overlay-container">
    <div class="logo-container">
      <%= image_tag('ivnvoicelogo.png', id: 'banner') %>
      <%= image_tag('free_estimates.png', id: 'free-estimates') %>
    </div>
    <span class="glyphicon glyphicon-menu-down"></span>
  </div>
</div>
<div class="address-info">
  <h2>925-400-SKYE(7593)</h2>
  <h3>1647 Willow Pass Rd. Suite 513. Concord, CA 94520</h3>
</div>