<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><!-- <html class="no-js"> --> <!--<![endif]-->
<html lang='en'>
<head>
  <title>Skye Bright Window Cleaning</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Skye Bright Window Cleaning is locally owned, East Bay, window cleaning service. We are experts in home and commercial windows, from small to big jobs. Free Estimates!">
  <meta name="keywords" content="Sky, Skye, Windows, window, windows, Window, Cleaning, window cleaning, Concord, bay area, San Francisco, Oakland, Brentwood, Antioch, Walnut Creek, Pittsburgh, California, window washing">
  <meta name="language" content="english">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
